## DEMO Part 01 join data using Pandas Dataframe merge

In [1]:
from datetime import datetime as dt
t0 = dt.utcnow()

In [2]:
%run "__DEMO Part 00.ipynb"

CPU times: user 204 ms, sys: 12 ms, total: 216 ms
Wall time: 219 ms
CPU times: user 484 ms, sys: 24 ms, total: 508 ms
Wall time: 509 ms

### Join dataframes on Site ID with df.merge()

In [3]:
# ## massage type of SiteDB_ID column
sites_gdf["SiteDB_ID"] = pd.to_numeric(sites_gdf["SiteDB_ID"], downcast='integer', errors='coerce')

In [4]:
merged_by_siteid = pd.merge(sites_gdf, slip_rate_df, left_on="SiteDB_ID", right_on='Site Data_Site DB ID', how='inner')
merged_by_siteid.filter(items=['SiteDB_ID', "Site Data_Site DB ID", 'POINT_X', 'geometry', 
                                "Site Data_Site Name", 
                               'Site Data_Easting (NZTM)', 'Site Data_Northing (NZTM)'])

,SiteDB_ID,Site Data_Site DB ID,POINT_X,geometry,Site Data_Site Name,Site Data_Easting (NZTM),Site Data_Northing (NZTM)
0,1.0,1,1.685350e+06,POINT (1685350.000 5390753.000),2,1.685350e+06,5.390753e+06
1,2.0,2,1.686050e+06,POINT (1686050.032 5392467.073),7,1.686050e+06,5.392467e+06
2,3.0,3,1.688883e+06,POINT (1688883.169 5397088.581),35; Flaxey splay,1.689691e+06,5.398181e+06
3,4.0,4,1.690023e+06,POINT (1690022.833 5398338.833),43; Homestead Stream,1.690023e+06,5.398339e+06
4,7.0,7,1.776505e+06,POINT (1776505.384 5448136.479),Emerald Hill; EHT5-T6,1.777235e+06,5.448284e+06
5,8.0,8,1.777132e+06,POINT (1777132.179 5448409.051),Emerald Hill; \nEHT2-T3-T4,1.777132e+06,5.448409e+06
6,9.0,9,1.777344e+06,POINT (1777343.592 5448532.222),Emerald Hill;\nEHT2-T3,1.777344e+06,5.448532e+06
7,11.0,11,1.777968e+06,POINT (1777968.141 5448830.340),Te Marua terraces,1.777968e+06,5.448830e+06